@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    color: rgb(246, 246, 225);
    font-family: 'Afacad Flux', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow-x: hidden;
}

a {
    text-decoration: underline;
    color: inherit;
}

.page-wrap {
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.page-wrap {
    top: 0px;
    right: 20px;
    left: 20px;
    bottom: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    width: calc(100% - 40px);
    height: calc(100% - 60px);
}

header .page-wrap {
    padding: 60px 90px;
    clip-path: polygon(0 1.5rem, 1.5rem 0, calc(100% - 1.5rem) 0, 100% 1.5rem, 100% calc(100% - 1.5rem), calc(100% - 1.5rem) 100%, 1.5rem 100%, 0 calc(100% - 1.5rem));
}

footer {
    display: flex;
    align-items: center;
}

footer .page-wrap {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://external-preview.redd.it/y_YdHJBLaUlgNnIqvscJYAtTnN3ywXT4U4kn9uLSnr4.jpg?width=1080&crop=smart&auto=webp&s=4c360717231ca325d7d5b2537d3cfa164cba249a);
    clip-path: polygon(0 1.5rem, 1.5rem 0, calc(100% - 1.5rem) 0, 100% 1.5rem, 100% calc(100% - 1.5rem), calc(100% - 1.5rem) 100%, 1.5rem 100%, 0 calc(100% - 1.5rem));
}

footer .copyrights {
    margin: 0 auto;
    margin-top: auto;
    bottom: 0;
    width: fit-content;
    padding: 10px 10px 0;
    background-color: black;
    opacity: 0.9;
    position: absolute;
    font-size: 0.7rem;
    text-transform: uppercase;
    font-family: 'Kode Mono', sans-serif;
    font-weight: 100;
}

footer .copyrights::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: -30px;
    width: 0;
    height: 0;
    border-right: 30px solid transparent;
    border-bottom: 25px solid black;
}

footer .copyrights::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: -30px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-bottom: 25px solid black;
}


input,
button,
select,
textarea {
    font-family: 'Afacad Flux', sans-serif;

}

header,
section,
footer {
    height: 100vh;
}

header {
    position: relative;
}

.tvoverlay {
    opacity: 0.04;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.headerleft,
.footerleft {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    z-index: 1;
}

.headerright,
.footerright {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

.footercontent {
    padding: 60px 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

footer h1 {
    font-size: 4rem;
    line-height: 0.9;
    letter-spacing: -6px;
}

h1,
h2 {
    font-family: 'Kode Mono', sans-serif;
    text-transform: uppercase;
}

header .title h1 {
    margin: 0;
    text-transform: uppercase;
    font-family: 'Kode Mono', sans-serif;

}

header .title {
    margin: auto 0;
}

header h1 {
    font-size: 10rem;
    letter-spacing: -6px;
    line-height: 0.9;
}

header h2 {
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
}

header .time {
    text-transform: uppercase;
    padding: 7px 15px;
    border: #888 solid 1px;
    background-color: #9e9e9e22;
}

header .subtitle {
    max-width: 400px;
}

header .headerright .description,
.legal {
    margin-top: auto;
    margin-left: auto;
    max-width: 320px;
    padding: 20px 30px;
    border: 1px solid #888;
    background-color: #9e9e9e22;
    text-align: left;
    line-height: 1.25;
}

.legal {
    max-width: 800px;
    overflow-y: auto;

}

.legalbtn {
    padding: 0;
    border: none;
    background-color: transparent;
    color: rgb(246, 246, 225);
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0;
    margin: 0;
    color: #fff;
    font-weight: 500;
}

.legalbtn:hover {
    color: #aaa;
}

.legalpopup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.legalpopupcontent {
    position: relative;
    padding: 40px;
    background-color: rgba(17, 17, 17, 0.953);
    max-width: 1000px;
    margin: 0 40px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
    border: 1px solid #8888886e;
}

.legalpopupcontent ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 20px;
}

.legalpopupcontent ul li {
    font-weight: 300;
    list-style: square;
    line-height: 1.5;
}

.legalpopupcontent ul li a {
    font-weight: 700;
}

.legalpopupcontent h3 {
    font-weight: 400;
}

.legalpopupcontent h3 a {
    font-weight: 600;
}

.closelegalcontent {
    color: #aaa;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 2rem;
    font-weight: 300;
    cursor: pointer;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.starry-background {
    position: relative;
    width: 99vw;
    margin: 0 auto;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
}

.starry-background::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 1px;
    height: 1px;
    opacity: 0.5;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: -42vw -4vh 0px 0px #fff, 25vw -41vh 0px 0px #fff, -20vw 49vh 0px 1px #fff,
        5vw 40vh 1px 1px #fff, 29vw 19vh 1px 0px #fff, -44vw -13vh 0px 0px #fff,
        46vw 41vh 0px 1px #fff, -3vw -45vh 0px 1px #fff, 47vw 35vh 1px 0px #fff,
        12vw -8vh 1px 0px #fff, -34vw 48vh 1px 1px #fff, 32vw 26vh 1px 1px #fff,
        32vw -41vh 1px 1px #fff, 0vw 37vh 1px 1px #fff, 34vw -26vh 1px 0px #fff,
        -14vw -49vh 1px 0px #fff, -12vw 45vh 0px 1px #fff, -44vw -33vh 0px 1px #fff,
        -13vw 41vh 0px 0px #fff, -36vw -11vh 0px 1px #fff, 15vw 18vh 0px 0px #fff,
        25vw -13vh 1px 1px #fff, -46vw -12vh 1px 1px #fff, -18vw 22vh 0px 0px #fff,
        23vw -9vh 1px 0px #fff, 50vw 12vh 0px 1px #fff, 45vw 2vh 0px 0px #fff,
        14vw -48vh 1px 0px #fff, 23vw 43vh 0px 1px #fff, -40vw 16vh 1px 1px #fff,
        20vw -31vh 0px 1px #fff, -17vw 44vh 1px 1px #fff, 18vw -45vh 0px 0px #fff,
        -19vw 5vh 1px 0px #fff, 1vw 42vh 0px 0px #fff, 22vw 48vh 0px 1px #fff,
        39vw -8vh 1px 1px #fff, -6vw -42vh 1px 0px #fff, -47vw 34vh 0px 0px #fff,
        -46vw 19vh 0px 1px #fff, -12vw -32vh 0px 0px #fff, -45vw -38vh 0px 1px #fff,
        -28vw 18vh 1px 0px #fff, -38vw -46vh 1px 1px #fff, 49vw -6vh 1px #fff,
        33vw -6vh 0px 0px #fff, 0vw 7vh 0px 1px #fff, -10vw -18vh 0px 1px #fff,
        -28vw 18vh 1px 1px #fff, 10vw -24vh 0px 1px #fff, -5vw -11vh 1px 1px #fff,
        33vw -8vh 1px 0px #fff, -16vw 17vh 0px 0px #fff, 18vw 27vh 0px 1px #fff,
        -8vw -10vh 1px 1px #fff;
    animation: zoom 20s alternate infinite;
}

.navbar {
    position: relative;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 5;
}


.navbar .logo {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 70px;
    background-color: black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.navbar .logo::after {
    content: '';
    position: absolute;
    bottom: 1px;
    right: -33px;
    width: 0;
    height: 0;
    border-right: 35px solid transparent;
    border-top: 30px solid black;
}

.navbar .logo::before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: -33px;
    width: 0;
    height: 0;
    border-left: 35px solid transparent;
    border-top: 30px solid black;
}


.navbar .logo img {
    width: 160px;
    height: auto;
    position: relative;
    display: block;

}

.navbar img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: red;
    mask-image: radial-gradient(circle 60px at 0 100%, transparent 0, transparent 30px, black 21px);
}

.navbar img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    background: red;
}

.navbar img::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    background: red;
}

#visualization {
    background-color: #ffffff;
    border: 1px solid #ddd;
}

.axis {
    stroke: #2c3e50;
    stroke-width: 2;
}

.sound {
    position: fixed;
    bottom: 35px;
    right: 20px;
    z-index: 2;
}

.mute-btn {
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.mute-btn:focus {
    outline: none;
}


#chartContainer {
    position: relative;
    width: 80%;
    margin: 0 auto;
}

canvas {
    max-height: 500px;
}

.canvas-pointer {
    cursor: pointer;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.legend {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 15px;
}

.legendsub {
    opacity: 0.7;
    margin-top: 1.5rem;
}

button {
    border: 2px solid grey;
    border-radius: 50px;
    background-color: transparent;
    color: grey;
    font-size: 1rem;
    padding: 5px 15px;
    margin: 0 10px;
    cursor: pointer;
    transition: all 0.3s;
}

button.active {
    border-color: rgb(246, 246, 225);
    color: rgb(246, 246, 225);
}

.episode-buttons {
    display: flex;
    justify-content: center;
}

.episode-buttons button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 0;
}

.hidden {
    opacity: 0.5;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-wrap {
    height: fit-content;
    background-color: rgb(9, 9, 9);
    background-size: 140%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 20px;
    padding: 40px;
    width: 100%;
    display: flex;
    max-width: 1300px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    clip-path: polygon(0 1.5rem, 1.5rem 0, calc(100% - 1.5rem) 0, 100% 1.5rem, 100% calc(100% - 1.5rem), calc(100% - 1.5rem) 100%, 1.5rem 100%, 0 calc(100% - 1.5rem));
}

#modal-wrap-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: auto;
    filter: blur(10px) brightness(0.2);
    z-index: -2;
}

.modal-wrap .tvoverlay {
    height: auto;
    z-index: -1;
}

.modal-content {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}

.modal-wrapper {
    display: flex;
    gap: 1rem;
    width: fit-content;
}

.modal-content-left {
    flex-direction: column;
    display: flex;
    gap: 0.5rem;
    font-size: 1.2rem;
    width: 50%;
    animation: fadein 0.5s linear;

}

.modal-content-left p {
    font-weight: 700;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.modal-content-left p span {
    font-weight: 400;
}

.modal-content-right {
    width: 50%;
    animation: fadein 0.5s linear;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-content-right p {
    font-weight: 200;
    line-height: 1.5;
}

.modal-content-right small {
    text-align: right;
    opacity: 0.7;
}

.modal-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#planetImage {
    height: 100%;
    width: 100% !important;
}

@media screen and (max-width: 1100px) {
    .modal-content {
        flex-direction: column;
        padding: 20px;
    }
}

@media screen and (max-width: 768px) {
    .modal-content {
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .modal-wrapper {
        flex-direction: column;
    }

    .modal-wrap {
        padding: 20px;
    }

    .modal-content-left {
        width: 100%;
    }

    .modal-content-right {
        width: 100%;
    }
}


.close {
    color: #aaa;
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 2rem;
    font-weight: 300;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.btnSound:focus {
opacity: 0.5;
    }

    .btnSound:hover{
        opacity: 1;
    }

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.rotate {
    animation: rotate 500s linear infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.5);
    }
}


.loader {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

